:root,
html[data-theme="light"] {
  --color-primary: #f6f5f5;
  --color-text-title: #b28451;
  --color-text-subtitle: #f6f5f5;
  --color-text: #101d2c;
  --color-light: #fff;
  --color-light-grey: #e3e3e3;
  --color-accent-dark: #101d2c;
  --color-accent-light: #c69963;
  --color-accent-select: #DFAE72;
  --color-accent-heart: #830B0B;
}

/* dark-mode BETA (Farben passen nicht besonders gut zusammen ;D) */
html[data-theme="dark"] {
  --color-primary: hsla(0,0%,14%,1);
  --color-text-title: hsla(32,39%,51%,1);
  --color-text-subtitle: rgb(179, 204, 233);
  --color-text: rgb(179, 204, 233);
  --color-light: #000;
  --color-light-grey: hsla(0,0%,21%,1);
  --color-accent-dark: hsla(240,8%,12%,1);
  --color-accent-light: rgb(68, 60, 51);
  --color-accent-select: hsla(33,60%,44%,1);
  --color-accent-heart: #830B0B;
}

html[data-theme="invert"] {
  --color-primary: #090a0a;
  --color-text-title: #4d7bae;
  --color-text-subtitle: #090a0a;
  --color-text: #efe2d3;
  --color-light: #000;
  --color-light-grey: #1c1c1c;
  --color-accent-dark: #efe2d3;
  --color-accent-light: #39669c;
  --color-accent-select: #20518d;
  --color-accent-heart: #7cf4f4;
}

/* browser unspezifische standard Einstellungen */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  hyphens: auto;

  background-color: var(--color-light);
  margin: 2rem;
  min-height: calc(100vh - 4rem);

  display: grid;
  grid-template-columns: minmax(16vw, 24rem) repeat(3, 1fr);
  grid-template-rows: minmax(min-content, 16vh) min-content 1fr 6vh;

  grid-template-areas:
    "head head head head"
    "nav main main main"
    "nav main main main"
    "foot foot foot foot";
}

.page__title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Styling fuer markierte Elemente */
::selection {
  background-color: var(--color-accent-select);
}

/* 840px = 52.5em */
@media screen and (max-width: 52.5em) {
  body {
    grid-template-areas:
    "head head head head"
    "nav nav nav nav"
    "main main main main"
    "foot foot foot foot";
  }
}

/* 704px = 44em */
@media screen and (max-width: 44em) {
  html {
    font-size: 50%;
  }

  body {
    margin: 0;
  }
}

/* 544px / 16 = 34em */
@media screen and (max-width: 34em) {
  html {
    font-size: 40%;
  }
}

/* 412px = 25.75em */
@media screen and (max-width: 25.75em) {
  html {
    font-size: 35%;
  }
}

/* 360px = 22.5em */
@media screen and (max-width: 22.5em) {
  html {
    font-size: 30%;
  }
}