.imprint {
  display: flex;
  padding: 5rem 3rem;
}

/* Titel */
.imprint__left {
  width: 30%;
}

.imprint__left--title {
  margin-left: 2rem;
}

/* Inhalt */
.imprint__right {
  width: 70%;
}

.imprint__right h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* E-Mail absenden */
.imprint__right--mailto:link,
.imprint__right--mailto:visited {
  text-decoration: none;
  font-weight: 700;
  color: var(--color-text);
}

.imprint__right--mailto:hover {
  color: var(--color-text-title);
  cursor: url(../images/mail.png), pointer;
}