---
{
  "title": "404",
  "style": "404.css",
  "template": "html",
  "scripts": []
}
---

<main class="error-container">
  <h1 class="title">{{page.title}}</h1>
  <h3 class="error-msg">{{page.lang.404.txt_subject}} {{page.lang.404.txt_addition}}</h3>
  <a href="/" class="link">{{page.lang.404.txt_link}}</a>

  <div class="playground">
    <img class="tubler" src="/public/images/tumbleweed.svg" alt="Tumbleweed Image">
  </div>
</main>