<header class="header-container">
  <a href="/{{request.path.locale}}" class="header">
    <h1 class="header__title">{{ global.informations.name }}</h1>
    <h2 class="header__slogan">{{ global.informations.slogan }}</h2>
  </a>
</header>