---
{

}
---

<div class="popup" id="wishlist">
    <div class="popup__wrapper">
      <p class="popup__close">&times;</p>
      <div class="table--error hide">
        <h4 class="table--error-msg">{{page.lang.wishlist.txt_errormsg}}</h4>
      </div>
      <div class="popup__content">
      
      </div>
    </div>
</div>